<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TIM KIEM</title>
  </head>
  <body>
    <form  action="http://localhost:3000/address" method="post">
      <input type="text" name="ten" placeholder="name"><br>
      <input type="text" name="address"placeholder="dia chi"> <br>
      <input type="submit"  value="TIM KIEM">
    </form>
  </body>
</html>
